@charset "UTF-8";















main{
    margin-top: 210px;
}

section{
    margin: auto;
    width: 1000px;
    height: 400px;
    display: flex;
    background-color: cornflowerblue;
    border-radius: 15px;
}